<app-header></app-header>
<app-home-hero></app-home-hero>
 <div class="page-wrapper pt-6  pb-md-6 pb-sm-6 pt-xs-36">
            <div class="container">
                <div class="row">
                    <!-- start home sidebar -->
                    <div class="col-lg-3">
                        <app-home-sidebar></app-home-sidebar>
                        </div>
                    <div class="col-lg-9">
                        <app-new-arrivals></app-new-arrivals>
                        <app-home-product-scroller></app-home-product-scroller>
                    </div>
                </div>
                <app-latest-product></app-latest-product>
                <app-popular-brand></app-popular-brand>
            </div>
            <app-footer></app-footer>
        </div>

