<!-- header area start -->
<header>

    <!-- header top start -->
    <div class="header-top-area bg-sky text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="header-call-action">
                        <a href="#" class="text-light">
                            <i class="fa fa-envelope"></i>
                            avijitweb90&#64;gmail.com
                        </a>
                        <a href="#" class="text-light">
                            <i class="fa fa-phone"></i>
                            9874438716
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">
                        <nav>
                            <ul>
                                <li>
                                    <div class="dropdown header-top-dropdown">
                                        <a class="dropdown-toggle text-light" id="myaccount" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            {{ cust_name }}
                                            <i class="fa fa-angle-down"></i>
                                        </a>

                                        <!-- 🔐 Logged in menu -->
                                        <div class="dropdown-menu" *ngIf="isLoggedIn">
                                            <a class="dropdown-item" routerLink="/my-account">My Account</a>
                                            <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
                                        </div>

                                        <!-- 🔓 Guest menu -->
                                        <div class="dropdown-menu" *ngIf="!isLoggedIn">
                                            <a class="dropdown-item" routerLink="/login-register">Login</a>
                                            <a class="dropdown-item" routerLink="/login-register">Register</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <a routerLink="/" class="text-light">my wishlist</a>
                                </li>
                                <li>
                                    <a routerLink="/cart" class="text-light">my cart</a>
                                </li>
                                <li>
                                    <a routerLink="/checkout" class="text-light">checkout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->

    <!-- header middle start -->
    <div class="header-middle-area pt-10 pb-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="brand-logo" style="margin-bottom:0">
                        <a href="index.html">
                            <img src="../../../../assets/storefront/img/logo/logo.png" alt="brand logo">
                        </a>
                    </div>
                </div> <!-- end logo area -->
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-shipping mb-10">
                            <!--  <div class="single-block-shipping">
                                        <div class="shipping-icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="shipping-content">
                                            <h5>Working time</h5>
                                            <span>Mon- Sun: 8.00 - 18.00</span>
                                        </div>
                                    </div>  -->
                            <!-- <div class="single-block-shipping">
                                        <div class="shipping-icon">
                                            <i class="fa fa-truck"></i>
                                        </div>
                                        <div class="shipping-content">
                                            <h5>free shipping</h5>
                                            <span>On order over ₹199</span>
                                        </div>
                                    </div>  -->
                            <!-- <div class="single-block-shipping">
                                        <div class="shipping-icon">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="shipping-content">
                                            <h5>money back 100%</h5>
                                            <span>Within 30 Days after delivery</span>
                                        </div>
                                    </div>  -->
                        </div>
                        <div class="header-middle-block">
                            <div class="header-middle-searchbox">
                                <input type="text" placeholder="Search...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="header-mini-cart">
                                <div class="mini-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-notification">{{ cartService.cartCount() }}</span>
                                </div>
                                <div class="cart-total-price">
                                    <span>total</span>
                                    ₹{{cartService.cartTotal()}}
                                </div>
                            <ul class="cart-list" *ngIf="cartService.cartItems().length > 0">

                             <li *ngFor="let item of cartWithProduct()">


                                    <div class="cart-img">
                                    <a href="#">
                                        <img src="../../../../assets/storefront/img/cart/cart-1.jpg" alt="">
                                    </a>
                                    </div>

                                    <div class="cart-info">
                                    <h4>
                                        <a href="#">Product {{item.product_name}}</a>
                                    </h4>
                                    <span>₹{{item.price}} × {{item.quantity}}</span>
                                    </div>

                                    <div class="del-icon">
                                    <i class="fa fa-times" (click)="cartService.removeFromCart(item)"></i>
                                    
                                    </div>

                                </li>

                                <!-- Subtotal -->
                                <li class="mini-cart-price">
                                    <span class="subtotal">subtotal : </span>
                                    <span class="subtotal-price">
                                    ₹{{cartService.cartTotal()}}
                                    </span>
                                </li>

                                <li class="checkout-btn">
                                    <a routerLink="/checkout">checkout</a>
                                </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                category
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu" [ngClass]="isHome ? 'hm-1' : 'category-style-2'">
                                <ul>
                                    <li *ngFor="let category of categoryData">
                                        <a href="shop-grid-left-sidebar.html">
                                            <i class="fa fa-shopping-bag"></i>
                                            {{category.category_name}}</a>

                                </ul>
                            </nav>
                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                        <a routerLink="/home">
                                            <i class="fa fa-home"></i> Home
                                        </a>
                                    </li>

                                    <li routerLinkActive="active">
                                        <a routerLink="/about-us">About Us</a>
                                    </li>

                                    <li routerLinkActive="active">
                                        <a routerLink="/shop">Shop</a>
                                    </li>

                                    <li routerLinkActive="active">
                                        <a routerLink="/blog">Blog</a>
                                    </li>

                                    <li routerLinkActive="active">
                                        <a routerLink="/contact-us">Contact us</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu area end -->

</header>
<!-- header area end -->